{% extends "layout.html" %}

{% block title %}
    Finance
{% endblock %}

{% block main %}
        <table class="table table-striped">
            <thead>
                <tr>
                  <th scope="col">Symbol</th>
                  <th scope="col">Name</th>
                  <th scope="col">Shares</th>
                  <th scope="col">Price</th>
                  <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                <tr>
                    <td>{{ stock["symbol"] }}</td>
                    <td>{{ stock["name"] }}</td>
                    <td>{{ stock["shares"] }}</td>
                    <td>{{ stock["price"] | usd }}</td>

                    {% set stockTotal = stock["price"] * stock["shares"] %}

                    <td>{{ stockTotal | usd }}</td>
                </tr>
                {% endfor %}
                <tr>
                   <td>CASH</td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td>{{ cash | usd }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ grandTotal | usd  }}</td>
                </tr>
            </tbody>
        </table>

{% endblock %}
